@use "variables" as *;
@use "mixins";

.task-card {
  border: 1px solid $border-color;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .task-content {
    h3 {
      margin: 0;
      font-size: 18px;
    }
    p {
      margin: 4px 0;
      font-size: 14px;
    }
    .priority-high {
      color: #e74c3c;
    }
    .priority-medium {
      color: #17c0eb;
    }
    .priority-low {
      color: #2ecc71;
    }
    .statuss-to-do {
      color: #17c0eb;
    }
    .statuss-in-progress {
      color: $update-color;
    }
    .statuss-completed {
      color: #2ecc71;
    }
   
   .description {
      white-space: normal;       
      word-wrap: break-word; 
      overflow-wrap: break-word; 
      word-break: break-word;   
    //  margin-left : 80px;
    }

    &.completed {
      h3,
      p {
        text-decoration: line-through;
        color: gray;
      }
    }
  }

  .task-actions {
    margin-top: 12px;
    button {
      margin-right: 8px;
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:first-child {
        background-color: #dc3545;
        color: white;
      }

      &:last-child {
        background-color: #007bff;
        color: white;
      }
    }
  }
}
