// $primary-color: black;
$secondary-color: #2ecc71;
// $text-color: #333;
$border-color: #ccc;
$delete-color: #e74c3c;
$update-color: #403699;
$submit-color: #0c68f2;

$primary-color: #007bff;
$primary-color-hover: #0056b3;
$background-color: #f8f9fa;
$text-color: #333;
$link-color: $primary-color;
$navbar-background: #fff;
$navbar-text: #333;
$form-background: #fff;
$form-border: #ddd;
$form-field-background: #f7f7f7;
